<!DOCTYPE html>
<html>
<head>
  <title>Opengrok code browsing system</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>

</head>
<body>

    <%= render 'layouts/header' %>

  <div id= "wrap">

      <div class="container">
       
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>

    		<%= yield %>
    	</div>
    <div id="push"></div>
  </div
	  <%= render 'layouts/footer' %>
</body>
</html>
